@use 'src/index';

.primary-header {
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	padding: 0.5rem 1rem;
}

.navbar {
  --gap: 4rem;
	align-items: center;
	list-style: none;
}

.navlink {
	font-size: 1.5rem;
	color: #17842b;
  cursor: pointer;
}

.brand {
	font-size: 2rem;
	color: #116d22;
	font-family: index.$reem-kufi;
}

.active {
	color: #14508d;
}
